EXPO_PUBLIC_API_BASE_URL=http://SEU_IP_LOCAL:3000/api
EXPO_PUBLIC_EAS_PROJECT_ID=
EXPO_PUBLIC_SENTRY_DSN=
EXPO_PUBLIC_APP_ENV=development
EXPO_PUBLIC_GOOGLE_PLACES_KEY=your_google_places_api_key_here
EXPO_PUBLIC_SENTRY_TRACES_SAMPLE_RATE=0.1
EXPO_PUBLIC_SENTRY_PROFILES_SAMPLE_RATE=0.0
